<% if(page.reward){ %>
<div id="reward" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h3 class="reward-title">
        <i class="icon icon-quote-left"></i>
        <%=theme.reward.title %>
        <i class="icon icon-quote-right"></i>
    </h3>
    <ul class="reward-items">
        <% if(theme.reward.wechat){ %>
        <li>
            <img src="<%- url_for(theme.reward.wechat) %>" title="WeChat playing reward two-dimensional code" alt="WeChat playing reward two-dimensional code">
            <p>WeChat</p>
        </li>
        <% } %>

        <% if(theme.reward.alipay){ %>
        <li>
            <img src="<%- url_for(theme.reward.alipay) %>" title="Paypal reward two-dimensional code" alt="Paypal reward two-dimensional code">
            <p>Alipay</p>
        </li>
        <% } %>
    </ul>
</div>
<% } %>
