<%
     // Use sns to share interfaces directly
     // WeChat using qrcode helper or http://goqr.me/api/ generate two-dimensional code
    var sUrl = url.replace(/index\.html$/, '')
    var sTitle = page.title ? '«'+ page.title +'» — ' + config.title : config.title
    var sDesc = truncate(strip_html(page.excerpt || config.description), { length: 80})
    var sPic = page.photos && page.photos.length ? page.photos[0]
        : (/^(http:|https:)?\/\//.test(theme.avatar) ? theme.avatar
            : config.url.replace(/\/$/, '') + theme.avatar)
%>

<div class="<%- scope %>-share" id="<%- scope %>Share">
    <ul class="reset share-icons">
      <li>
        <a class="facebook share-sns" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%-sUrl%>" data-title="Facebook">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a class="twitter share-sns" target="_blank" href="https://twitter.com/intent/tweet?text=<%-sTitle%>&url=<%-sUrl%>&via=<%-config.url%>" data-title="Twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a class="google share-sns" target="_blank" href="https://plus.google.com/share?url=<%-sUrl%>" data-title="Google+">
          <i class="icon icon-google-plus"></i>
        </a>
      </li>
    </ul>
 </div>

<% if(scope === 'global') { %>
<div class="page-modal wx-share" id="wxShare">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <p>Sweep sweep, share micro letter</p>
    <img src="<%- 'qrcode' in locals ? qrcode(sUrl) : '//api.qrserver.com/v1/create-qr-code/?data=' + sUrl  %>" alt="WeChat to share two-dimensional code">
</div>
<% } %>
