@import '_partial/variable';
@import '_partial/roboto';
@import '_partial/fontawesome';

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;

    &-track { background-color: inherit; }
    &-thumb {
        background-color: @dividerColor;
        border: 1px solid #fff;
        border-radius: 10px;
        &:hover {
            background-color: darken(@dividerColor, 10%)
        }
        &:active {
            background-color: darken(@dividerColor, 20%)
        }
    }
}

::selection {
    background: lighten(@lightPrimaryColor, 5%);
}

html {
    background-color: @backColor;
    color: @primaryTextColor;
    font-size: @font-size;
    line-height: 1.5;
    overflow-x: hidden;
}

body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-overflow-scrolling: touch;
}

html,
body {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.lock {
    overflow: hidden;
    max-height: 100%;
}

body,
input,
button,
textarea,
select,
option {
    font: normal 1em @font;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
pre,
dl,
dd,
blockquote,
button,
input {
    margin: 0;
}

input,
legend,
input,
textarea,
button {
    padding: 0;
}

form,
fieldset,
th,
td {
    margin: 0;
    padding: 0;
}

ol,
ul {
    margin: 12px 0;
    padding: 0 0 0 32px;

    &.reset {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 12px 0;
}

small {
    font-size: 75%;
    line-height: 1;
}

main {
    display: block
}
template {
    display: none
}

img {
    max-width: 100%;
    border: none;
}

img,
input,
button,
label {
    vertical-align: middle;
}

i {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1,
.h1 {
    font-size: 44px;
    line-height: 48px;
}

h2,
.h2 {
    font-size: 34px;
    line-height: 40px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 32px;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 28px;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 24px;
}

h6,
.h6 {
    font-size: 12px;
    line-height: 20px;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

a {
    background-color: transparent;
    background-image: none;
    color: @primaryColor;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: @darkPrimaryColor;
    text-decoration: underline;
}

hr,
.hr {
    border: 0;
    border-top: 1px solid @borderColor;
    box-sizing: content-box;
    display: block;
    height: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* flex布局  */
.flex-row,
.flex-column,
.flex-row-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-row-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Multi-row layout */
.flex-row-wrap,
.flex-column {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Child elements are rearranged */
.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

/* Default average distribution of child elements*/
.flex-row > * {
    display: block;
}

.flex-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Vertically centered */
.flex-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Bottom Alignment */
.flex-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

/* In the direction of the main shaft */
.flex-justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Along the lateral axis direction */
.flex-align-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.flex-align-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.flex-align-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.flex-align-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.flex-col-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}


/* x-doggy styles! */

.alert.warn {
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 10px;
}

.warn strong {
    color: #444 !important;
    font-weight: 700;
    font-size: 140%;
}

.warn .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
    float: right;
    opacity: .2;
}

@import '_partial/loading';
@import '_partial/waves';
@import '_partial/layout';
@import '_partial/header';
@import '_partial/highlight';
@import '_partial/postlist';
@import '_partial/gotop';
@import '_partial/share';
@import '_partial/article';
@import '_partial/archives';
@import '_partial/page';
@import '_partial/tags';
@import '_partial/search';
@import '_partial/reward';
@import '_partial/lightbox';
@import '_duoshuo/embed';
